@inject ISessionService service;
@inject IDropdownService dropdownService;
@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "Survey Reports";
}


<h2 class="mt-4">Survey Reports</h2>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><i class="fa fa-home"></i></li>
    <li class="breadcrumb-item">Reports</li>
    <li class="breadcrumb-item active">Survey Reports</li>
</ol>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
               
                <input type="hidden" id="userId" value="@service.UserSession.Id" />
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-black-50 active" id="home3-tab" data-toggle="tab" href="#home3" role="tab" aria-controls="home3" aria-selected="true">All surveys</a>
                    </li>
                    <li class="nav-item d-none" role="presentation">
                        <a class="nav-link text-black-50" id="profile2-tab" data-toggle="tab" href="#profile2" role="tab" aria-controls="profile2" aria-selected="false">Completed surveys</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade p-2 p-md-3 show active" id="home3" role="tabpanel" aria-labelledby="home3-tab">
                        <div>
                            <form>
                                <fieldset>
                                    <legend class="f16">Filters</legend>
                                    <hr class="mt-0 mb-2 ml-0 w-50" />
                                    <div class="d-flex flex-wrap align-content-stretch">
                                        <div style="max-width:110px;" class="mr-1">
                                            <div class="form-group">
                                                <label for="surveyStatus" class="f12">Survey status</label>
                                                <select id="surveyStatus" class="form-control custom-select-sm">
                                                    <option value="">All</option>
                                                    <option value="Pending">Pending</option>
                                                    <option value="Completed">Completed</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div style="max-width:130px;" class="mx-1">
                                            <div class="form-group">
                                                <label for="scheduleStatus" class="f12">Schedule status</label>
                                                <select id="scheduleStatus" class="form-control custom-select-sm">
                                                    <option value="">All</option>
                                                    <option value="Scheduled">Scheduled</option>
                                                    <option value="Not Scheduled">Not Scheduled</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div style="max-width:250px;" class="mx-1">
                                            <div class="form-group">
                                                <label for="surveyStaff" class="f12">Survey staff</label>
                                                <select id="surveyStaff" class="form-control custom-select-sm chosen-select" asp-items="@(dropdownService.GetSurveyStaffs(emptyText:"All"))"></select>
                                            </div>
                                        </div>
                                        <div style="max-width:270px;" class="mx-1">
                                            <div class="d-flex flex-row justify-content-between">
                                                <div class="form-group flex-fill mr-1">
                                                    <label for="sharedDateFrom" class="f12">Date Shared | From</label>
                                                    <input type="text" id="sharedDateFrom" class="form-control form-control-sm date" placeholder="YYYY-MM-DD" />
                                                </div>
                                                <div class="form-group flex-fill">
                                                    <label for="sharedDateTo" class="f12">To</label>
                                                    <input type="text" id="sharedDateTo" class="form-control form-control-sm date" placeholder="YYYY-MM-DD" />
                                                </div>
                                            </div>
                                        </div>
                                        <div style="max-width:270px;" class="mx-1">
                                            <div class="d-flex flex-row justify-content-between">
                                                <div class="form-group flex-fill mr-1">
                                                    <label for="scheduleDateFrom" class="f12">Schedule Date | From</label>
                                                    <input type="text" id="scheduleDateFrom" class="form-control form-control-sm date" placeholder="YYYY-MM-DD" />
                                                </div>
                                                <div class="form-group flex-fill">
                                                    <label for="scheduleDateTo" class="f12">To</label>
                                                    <input type="text" id="scheduleDateTo" class="form-control form-control-sm date" placeholder="YYYY-MM-DD" />
                                                </div>
                                            </div>
                                        </div>
                                        <div style="max-width:90px;" class="">
                                            <div class="form-group">
                                                <label class="f14">&nbsp;</label>
                                                <button type="button" id="filterBtn" class="btn btn-primary btn-sm d-block px-3 mr-2"><i class="fa fa-filter f12"></i> Filter</button>
                                            </div>
                                        </div>
                                        <div  class="">
                                            <div class="form-group">
                                                <label class="f14">&nbsp;</label>
                                                <button type="button" id="exportBtn" class="btn btn-primary btn-sm d-block px-3"><i class="fa fa-file-export f12"></i> Export in standard excel format</button>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <hr />
                        <div class="table-responsive">
                            <table id="allTable" class="table table-striped table-bordered f14">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>&nbsp;</th>
                                        <th>Batch</th>
                                        <th>Account&nbsp;Number</th>
                                        <th>ARN</th>
                                        <th>Customer&nbsp;Name</th>
                                        <th>Email</th>
                                        <th>Phone&nbsp;Number</th>
                                        <th>Status</th>
                                        <th>Survey&nbsp;Staff</th>
                                        <th>Survey&nbsp;Company</th>
                                        <th>Assigned&nbsp;By</th>
                                        <th>Survey&nbsp;Remark</th>
                                        <th>Schedule&nbsp;Date</th>
                                        <th>Schedule&nbsp;Date</th>
                                        <th>Survey&nbsp;Date</th>
                                        <th>Survey&nbsp;Date</th>
                                        <th>Date&nbsp;Shared</th>
                                        <th>Date&nbsp;Shared</th>
                                        <th>Created&nbsp;By</th>
                                        <th>Date&nbsp;Created</th>
                                        <th>Date&nbsp;Created</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>&nbsp;</th>
                                        <th>Batch</th>
                                        <th>Account&nbsp;Number</th>
                                        <th>ARN</th>
                                        <th>Customer&nbsp;Name</th>
                                        <th>Email</th>
                                        <th>Phone&nbsp;Number</th>
                                        <th>Status</th>
                                        <th>Survey&nbsp;Staff</th>
                                        <th>Survey&nbsp;Company</th>
                                        <th>Assigned&nbsp;By</th>
                                        <th>Survey&nbsp;Remark</th>
                                        <th>Schedule&nbsp;Date</th>
                                        <th>Schedule&nbsp;Date</th>
                                        <th>Survey&nbsp;Date</th>
                                        <th>Survey&nbsp;Date</th>
                                        <th>Date&nbsp;Shared</th>
                                        <th>Date&nbsp;Shared</th>
                                        <th>Created&nbsp;By</th>
                                        <th>Date&nbsp;Created</th>
                                        <th>Date&nbsp;Created</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane fade p-2 p-md-3 d-none" id="profile2" role="tabpanel" aria-labelledby="profile2-tab">
                        <div class="table-responsive">
                            <table id="completedTable" class="table table-striped table-bordered f14">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>#</th>
                                        <th>&nbsp;</th>
                                        <th>Batch</th>
                                        <th>Account&nbsp;Number</th>
                                        <th>ARN</th>
                                        <th>Customer&nbsp;Name</th>
                                        <th>Email</th>
                                        <th>Phone&nbsp;Number</th>
                                        <th>Status</th>
                                        <th>Survey&nbsp;Staff</th>
                                        <th>Survey&nbsp;Company</th>
                                        <th>Assigned&nbsp;By</th>
                                        <th>Ready&nbsp;To&nbsp;Pay</th>
                                        <th>Survey&nbsp;Remark</th>
                                        <th>Schedule&nbsp;Date</th>
                                        <th>Schedule&nbsp;Date</th>
                                        <th>Survey&nbsp;Date</th>
                                        <th>Survey&nbsp;Date</th>
                                        <th>Date&nbsp;Shared</th>
                                        <th>Date&nbsp;Shared</th>
                                        <th>Created&nbsp;By</th>
                                        <th>Date&nbsp;Created</th>
                                        <th>Date&nbsp;Created</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<partial name="_CustomerDetailsModalPartialView" />



@section css{
    <link href="~/lib/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/lib/chosen/chosen.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-buttons-bs4/buttons.bootstrap4.min.css" rel="stylesheet" />
}

@section js{
    <script src="~/lib/datatables.net/jquery.dataTables.js"></script>
    <script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/chosen/chosen.jquery.min.js"></script>
    <script src="~/lib/datatables-buttons/js/dataTables.buttons.js"></script>
    <script src="~/lib/datatables.net-buttons-bs4/buttons.bootstrap4.js"></script>
    <script src="~/lib/jszip/jszip.js"></script>
    <script src="~/lib/pdfmake/pdfmake.js"></script>
    <script src="~/lib/pdfmake/vfs_fonts.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.html5.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.print.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.colVis.js"></script>
    <script>

    </script>
    <script src="~/js/survey_reports.js" asp-append-version="true"></script>

}