<!-- Details Modal -->
<div class="modal fade" id="detailsModal">
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><span id="cname_sp">Customer Name</span>'s Details </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>


            <!-- Modal body -->
            <div class="modal-body">
                <div class="row mt-2 f14">
                    <div class="col-md-6">
                        <div class="row">
                            <p class="mini-bold col-5">Batch Number:</p>
                            <p class="col-7" id="batchno_p">099</p>
                        </div>
                        <div class="row my-1">
                            <p class="mini-bold col-5">Account Number:</p>
                            <p class="col-7" id="accno_p">099</p>
                        </div>
                        <div class="row my-1">
                            <p class="mini-bold col-5">ARN:</p>
                            <p class="col-7" id="arn_p">099</p>
                        </div>
                        <div class="row my-1">
                            <p class="mini-bold col-5">Customer Name:</p>
                            <p class="col-7" id="cusname_p">099</p>
                        </div>
                        <div class="row my-1">
                            <p class="mini-bold col-5">CIS Name:</p>
                            <p class="col-7" id="cisname_p">099</p>
                        </div>
                        <div class="row my-1">
                            <p class="mini-bold col-5">Email:</p>
                            <p class="col-7" id="email_p">099</p>
                        </div>
                        <div class="row my-1">
                            <p class="mini-bold col-5">Phone Number:</p>
                            <p class="col-7" id="phone_p">099</p>
                        </div>
                        <div class="row my-1">
                            <p class="mini-bold col-5">Address:</p>
                            <p class="col-7" id="adres_p">099</p>
                        </div>
                        <div class="row my-1">
                            <p class="mini-bold col-5">CIS Address:</p>
                            <p class="col-7" id="cisadres_p">099</p>
                        </div>
                        <div class="row my-1">
                            <p class="mini-bold col-5">Ladmark:</p>
                            <p class="col-7" id="landmark_p">099</p>
                        </div>
                        <div class="row my-1">
                            <p class="mini-bold col-5">Business Unit (BU):</p>
                            <p class="col-7" id="bu_p">099</p>
                        </div>
                        <div class="row my-1">
                            <p class="mini-bold col-5">Under Taken (UT):</p>
                            <p class="col-7" id="ut_p">099</p>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="row my-1">
                            <p class="mini-bold col-5">Feeder:</p>
                            <p class="col-7" id="feeder_p">099</p>
                        </div>
                        <div class="row my-1">
                            <p class="mini-bold col-5">Distribution Transformer (DT):</p>
                            <p class="col-7" id="dt_p">099</p>
                        </div>
                        <div class="row my-1">
                            <p class="mini-bold col-5">Tariff:</p>
                            <p class="col-7" id="tariff_p">099</p>
                        </div>
                        <div class="row my-1">
                            <p class="mini-bold col-5">Metered Status:</p>
                            <p class="col-7" id="metered_status_p">099</p>
                        </div>
                        <div class="row my-1">
                            <p class="mini-bold col-5">Survey Status:</p>
                            <p class="col-7" id="survey_status_p">099</p>
                        </div>
                        <div class="row my-1">
                            <p class="mini-bold col-5">Installation Status:</p>
                            <p class="col-7" id="installation_status_p">099</p>
                        </div>
                        <div class="row my-1">
                            <p class="mini-bold col-5">Date Shared:</p>
                            <p class="col-7" id="date_shared_p">099</p>
                        </div>
                        <div class="row my-1">
                            <p class="mini-bold col-5">Created By:</p>
                            <p class="col-7" id="created_by_p">099</p>
                        </div>
                        <div class="row my-1">
                            <p class="mini-bold col-5">Date Created:</p>
                            <p class="col-7" id="date_created_p">099</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm px-4 py-2 f12" data-dismiss="modal"><i class="fa fa-check-circle"></i> &nbsp;Okay</button>
                @*<button type="submit" id="uploadBtn" class="btn btn-primary btn-sm px-4 py-2 f12"><i class="fa fa-upload"></i> &nbsp;Upload</button>*@
            </div>

        </div>
    </div>
</div>

<!-- Survey Details Modal -->
<div class="modal fade" id="surveyDetailsModal">
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><span id="s_cname_sp">Customer Name</span>'s Details </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>


            <!-- Modal body -->
            <div class="modal-body">

                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header p-1" id="headingOne">
                            <h6 class="mb-0">
                                <a class="btn btn-link btn-block text-left text-dark collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Customer Details
                                </a>
                            </h6>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="row mt-2 f14">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <p class="mini-bold col-5">Batch Number:</p>
                                            <p class="col-7" id="s_batchno_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-5">Account Number:</p>
                                            <p class="col-7" id="s_accno_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-5">ARN:</p>
                                            <p class="col-7" id="s_arn_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-5">Customer Name:</p>
                                            <p class="col-7" id="s_cusname_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-5">CIS Name:</p>
                                            <p class="col-7" id="s_cisname_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-5">Email:</p>
                                            <p class="col-7" id="s_email_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-5">Phone Number:</p>
                                            <p class="col-7" id="s_phone_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-5">Address:</p>
                                            <p class="col-7" id="s_adres_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-5">CIS Address:</p>
                                            <p class="col-7" id="s_cisadres_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-5">Ladmark:</p>
                                            <p class="col-7" id="s_landmark_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-5">Business Unit (BU):</p>
                                            <p class="col-7" id="s_bu_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-5">Under Taken (UT):</p>
                                            <p class="col-7" id="s_ut_p">099</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="row my-1">
                                            <p class="mini-bold col-5">Feeder:</p>
                                            <p class="col-7" id="s_feeder_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-5">Distribution Transformer (DT):</p>
                                            <p class="col-7" id="s_dt_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-5">Tariff:</p>
                                            <p class="col-7" id="s_tariff_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-5">Metered Status:</p>
                                            <p class="col-7" id="s_metered_status_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-5">Survey Status:</p>
                                            <p class="col-7" id="s_survey_status_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-5">Installation Status:</p>
                                            <p class="col-7" id="s_installation_status_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-5">Date Shared:</p>
                                            <p class="col-7" id="s_date_shared_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-5">Created By:</p>
                                            <p class="col-7" id="s_created_by_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-5">Date Created:</p>
                                            <p class="col-7" id="s_date_created_p">099</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-1" id="headingTwo">
                            <h2 class="mb-0">
                                <a class="btn btn-link btn-block text-left text-dark" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Metering Eligibility Survey Response
                                </a>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="row mt-2 f14">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <p class="mini-bold col-7">Ready to pay?</p>
                                            <p class="col-5" id="s_readyToPay_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-7">Occupier Phone Number:</p>
                                            <p class="col-5" id="s_occupierPhone_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-7">Number of Bedroom:</p>
                                            <p class="col-5" id="s_bedroomCount_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-7">Apartment Type:</p>
                                            <p class="col-5" id="s_typeOfApartment_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-7">Existing Meter Type:</p>
                                            <p class="col-5" id="s_existingMeterType_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-7">Existing Meter Number:</p>
                                            <p class="col-5" id="s_existingMeterNo_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-7">Customer bill match upload data?</p>
                                            <p class="col-5" id="s_customerBillMatchUploadData_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-7">Estimated Total Load (amps):</p>
                                            <p class="col-5" id="s_estimatedTotalLoad_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-7">Recommended Meter Type:</p>
                                            <p class="col-5" id="s_recommendedMeterType_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-7">Installation Mode:</p>
                                            <p class="col-5" id="s_installationMode_p">099</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row my-1">
                                            <p class="mini-bold col-7">Load wire seperation required?:</p>
                                            <p class="col-5" id="s_loadWireSeparationRequired_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-7">Account seperation required:</p>
                                            <p class="col-5" id="s_accountSeparationRequired_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-7">Number of 1Q required:</p>
                                            <p class="col-5" id="s_noOf1QRequired_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-7">Number of 3Q required:</p>
                                            <p class="col-5" id="s_noOf3QRequired_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-7">MAP:</p>
                                            <p class="col-5" id="s_map_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-7">Survey remark:</p>
                                            <p class="col-5" id="s_surveyRemark_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-7">Additional comment:</p>
                                            <p class="col-5" id="s_comment_p">099</p>
                                        </div>
                                        <div class="row my-1">
                                            <p class="mini-bold col-7">Survey date:</p>
                                            <p class="col-5" id="s_survey_date_p">099</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm px-4 py-2 f12" data-dismiss="modal"><i class="fa fa-check-circle"></i> &nbsp;Okay</button>
                @*<button type="submit" id="uploadBtn" class="btn btn-primary btn-sm px-4 py-2 f12"><i class="fa fa-upload"></i> &nbsp;Upload</button>*@
            </div>

        </div>
    </div>
</div>